* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.image-area {
    width: 50vw;
    height: 100vh;
    background-image: url("vinyl-unsplash.jpg");
    background-size: cover;
}

.image-area img {
    width: 100%;
}

.other {
    width: 50%;
    height: 100%;
}

.heading {
    padding: 2rem;
    padding-right: 6rem;
    margin-top: 4rem;

}

h2 {
    margin-bottom: 1rem;
}