* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.image-area {
    width: 50%;
    height: 100vh;
    background-image: url("vinyl-unsplash.jpg");
    background-size: cover;
}

.image-area img {
    width: 100%;
}

.other {
    width: 50%;
    height: 100vh;
}

.heading {
    padding: 2rem;
    padding-right: 6rem;
    margin-top: 4rem;

}

h2 {
    margin-bottom: 1rem;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    color: rgb(203, 201, 201);
    border-top: 2px solid rgb(203, 201, 201);
    border-bottom: 2px solid rgb(203, 201, 201);
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(249, 133, 0, 0.297);
    overflow: hidden;

}

#logo-icon {
    font-size: 8rem;
}

#logo-text {
    font-size: 6rem;
}

.image-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption {
    margin-top: auto;
}